@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes setUpBackground{
  0% {
    background-color: #000;
  }
  100% {
    background-color: #222;
  }
}
@keyframes darkenBackground{
  0% {
    background-color: #222;
  }
  100% {
    background-color: #000;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body{
  font-family: monospace;
  background-color: #222;
  color: #eee;
  text-align: center;
  animation: setUpBackground 1s 0s forwards;
}
h1{
  opacity: 0;
  font-size: 128px;
  animation: fadeIn 2s .5s forwards;
}
section{
  opacity: 0;
  background-color: #111;
  text-align: left;
  margin: 100px 25%;
  animation: fadeIn 4s 1s forwards;
}
h2{
  font-size: 32px;
  background-color: #822;
  padding: 10px;
}
h3{
  font-size: 24px;
  background-color: #711;
  padding: 5px 10px;
  width: 33%;
  margin-left: 10px;
}
p{
  opacity: 0;
  font-size: 16px;
  margin: 15px;
  animation: fadeIn 3s 2s forwards;
}
#terminal{
  color: #288;
  font-size: 18px;
  text-align: center;
  background-color: #000;
  padding: .5%;
  width: 80%;
  margin: auto 9% 0px 9%;
}
input{
  opacity: 0;
  width: 90%;
  margin: 10px 2.5%;
  background-color: #000;
  border-style: none;
  padding: 2.5%;
  font-size: 16px;
  font-weight: bold;
  color: #282;
  text-align: center;
  animation: fadeIn 4s 3s forwards;
}
input:focus{
  outline-color: #333;
}
::-webkit-input-placeholder {
  color: #444;
}
:-moz-placeholder {
  color: #444;
  opacity: 1;
}
::-moz-placeholder {
  color: #444;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #444;
}

.hidden{
  display: none;
}
button{
  margin-top: 15px;
  opacity: 0;
  background-color: #444;
  border-style: none;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  animation: fadeIn 4s 2s forwards;
}
button:hover{
  background-color: #555;
}