body{
  font-family: monospace;
  font-size: 32px;
  text-align: center;
  background-color: #222;
  color: #ddd;
}
h1{
  font-size: 64px;
}
pre{
  margin: 0;
  font-weight: bolder;
}
.true{
  color: #0ff;
  text-shadow: 0 0 2px #0ff;
}
.false{
  color: #444;
}
button{
  margin-top: 64px;
  background-color: #444;
  border-style: none;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
button:hover{
  background-color: #555;
}