@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp{
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}
@keyframes setUpBackground{
  0% {
    background-color: #000;
  }
  100% {
    background-color: #222;
  }
}
@keyframes darkenBackground{
  0% {
    background-color: #222;
  }
  100% {
    background-color: #000;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body{
  background-color: #222;
  animation: setUpBackground 1s 0s forwards;
  color: #fff;
  text-align: center;
  font-family: arial, sans-serif;
}
header{
  opacity: 0;
  background-color: #aaa;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 2s 0s forwards;
}
section{
  opacity: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  animation: fadeUp 2s .5s forwards;
  background-color: #1d3963;
}
.orange{
  background-color: #632e1d;
}
.orange h2{
  background-color: #8a4128;
}
h1{
  font-size: 100px;
  margin-bottom: 0;
}
#specialh1{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
}
h2{
  font-size: 16pt;
  padding: 2px;
  padding-left: 15px;
  text-align: left;
  background-color: #264b84;
}
h3{
  opacity: 0;
  padding: 4px;
  text-align: left;
  margin-left: 15px;
  width: 50%;
  background-color: #2e5b9e;
  animation: fadeIn 2s 1.75s forwards;
}
header p{
  text-align: right;
  margin-right: 5px;
  padding-bottom: 5px;
}
section p{
  opacity: 0;
  margin: 0 15px 15px 15px;
  text-align: left;
  line-height: 125%;
  animation: fadeIn 2s 1.25s forwards;
}
button{
  margin-top: 15px;
  opacity: 0;
  background-color: #1d3963;
  border-style: none;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  animation: fadeUp 2s 1s forwards;
}
button:hover{
  background-color: #264b84;
}