@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp{
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 15px;
  }
}
@keyframes setUpBackground{
  0% {
    background-color: #000;
  }
  100% {
    background-color: #222;
  }
}
@keyframes darkenBackground{
  0% {
    background-color: #222;
  }
  100% {
    background-color: #000;
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse{
  0% {background-color: #9bb8e4;}
  100% {background-color: inherit;}
}
@keyframes pulseGreen{
  0% {background-color: #2e9e2e;}
  100% {background-color: inherit;}
}
@keyframes pulseRed{
  0% {background-color: #9e2e2e;}
  100% {background-color: inherit;}
}
body{
  background-color: #222;
  animation: setUpBackground 1s 0s forwards;
  color: #fff;
  text-align: center;
  font-family: arial, sans-serif;
}
header{
  opacity: 0;
  background-color: #aaa;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 2s 0s forwards;
}
section{
  opacity: 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  animation: fadeUp 2s .5s forwards;
  background-color: #1d3963;
}
.orange{
  background-color: #632e1d;
}
.orange h2{
  background-color: #8a4128;
}
h1{
  font-size: 100px;
  margin-bottom: 0;
}
#specialh1{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 60px;
}
h2{
  font-size: 16pt;
  padding: 2px;
  padding-left: 15px;
  text-align: left;
  background-color: #264b84;
}
h3{
  opacity: 0;
  padding: 4px;
  text-align: left;
  margin-left: 15px;
  width: 50%;
  background-color: #2e5b9e;
  animation: fadeIn 2s 1.75s forwards;
}
header p{
  text-align: right;
  margin-right: 5px;
  padding-bottom: 5px;
}
section p{
  opacity: 0;
  margin: 0 15px 15px 15px;
  text-align: left;
  line-height: 125%;
  animation: fadeIn 2s 1.25s forwards;
  overflow-wrap: break-word;
}
button{
  margin-top: 15px;
  opacity: 0;
  background-color: #1d3963;
  border-style: none;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  animation: fadeUp 2s 1s forwards;
}
section button{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #264b84;
  animation: fadeIn 2s 2s forwards;
}
button:hover{
  background-color: #264b84;
}
section button:hover{
  background-color: #2e5b9e;
}
button:click{
  background-color: #1d3963;
}
a {
  color: #608ed2;
  text-decoration: none;
}
a:hover{
  color: #9cb8e3;
}
form{
  opacity: 0;
  background-color: #2e5b9e;
  margin: 15px;
  padding: 5px;
  animation: fadeIn 2s 1.75s forwards;
}
input{
  opacity: 0;
  display: block;
  margin: 5px;
  background-color: #1d3963;
  border-style: none;
  padding: 5px;
  width: 200px;
  color: #fff;
  font-weight: bold;
  animation: fadeIn 2s 2.25s forwards;
}
input:hover{
  background-color: #224477;
}

::-webkit-input-placeholder {
  color: #3971c6;
  font-style: italic;
}
:-moz-placeholder {
  color: #3971c6;
  opacity: 1;
  font-style: italic;
}
::-moz-placeholder {
  color: #3971c6;
  opacity: 1;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #3971c6;
  font-style: italic;
}

progress{
  background-color: #f00;
}
progress::-webkit-progress-bar{
  background-color: #11223b;
}
progress::-webkit-progress-value{
  background-color: #618ed1;
}
progress::-moz-progress-bar{
  background-color: #f00;
}
ul{
  opacity: 0;
  text-align: left;
  list-style-type: none;
  padding-left: 30px;
  animation: fadeIn 2s 1.5s forwards; 
}